{% extends 'base.html' %}

{% block title %}Разработчики{% endblock %}

{% block content %}
<h1>Разработчики</h1>
<div class="developer">
    <img src="https://cdnstatic.rg.ru/uploads/images/2023/03/19/tass_13682075-1_da8.jpg" alt="Чернавин Матвей">
    <h2>Чернавин Матвей </h2>
    <p>Фронтенд разработчик</p>
</div>
<div class="developer">
    <img src="https://zebra-tv.ru/upload/medialibrary/d41/filippov.jpg" alt="Филиппов Александр">
    <h2>Филиппов Александр </h2>
    <p> Бэкенд разработчик</p>
</div>
{% endblock %}